<ul>
    <li><a class="links" asp-controller="User" asp-action="Login">Login page</a></li>
    <li><a class="links" asp-controller="User" asp-action="Register">Register new user</a></li>
    <li><a class="links" asp-controller="User" asp-action="GetAllUsers">Get all users (required auth)</a></li>
    <li><a class="links" asp-controller="User" asp-action="GetAllRoleAssignments">Get all role assignments(required admin role)</a></li>
</ul>

