<div class="app-center">
    <div>
        <h3 class="h3-center">Reset password</h3>
        <form class="form-custom" method="post" asp-controller="User" asp-action="GeneratePasswordResetLink">
            <input name="email" class="input-custom" placeholder="E-Mail Address" type="text">
            <button class="submit-button">Submit</button>
        </form>
    </div>
</div>