@model PasswordResetDto

<div class="app-center">
    <div>
        <h3 class="h3-center">Request new password</h3>
        <form class="form-custom" method="post" asp-controller="User" asp-action="PasswordReset">
            <input class="input-custom" placeholder="New Password" type="password" asp-for="NewPassword" />
            <input class="hidden" type="text" value=@ViewData["Email"] asp-for="Email" />
            <input class="hidden" type="text" value=@ViewData["Key"] asp-for="Key" />
            <button class="submit-button">Submit</button>
        </form>
    </div>
</div>